.bodyHomeMovie_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.bodyHomeMovie {
  position: relative;
  padding: 15px 20px;
}

.bodyHomeMovie img{
  height: 300px;
  object-fit: contain;
  display: block;
  outline: 7px solid rgba(255, 255, 255, 0.25);
  outline-offset: -7px;
}

.bodyHomeMovie .bodyHomeMovie_infor {
  position: absolute;
  top: 15px;
  left: 20px;
  display: none;
  width: 207.7px;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px;
}

/* .bodyHomeMovie:hover {
  opacity: 0.25;
} */

.bodyHomeMovie:hover .bodyHomeMovie_infor {
  display: flex;
  background-color: rgba(0, 0, 0, 0.55);
}

.bodyHomeMovie_infor h3 {
  font-size: 16;
  font-weight: bold;
  text-align: left;
  width: 100%;
  color: #F5859D;
}

.bodyHomeMovie_infor h4 {
  color: #98D4DC;
  text-align: left;
  width: 100%;
}

.bodyHomeMovie_infor h4 span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 12px;
  background-color: #98D4DC;
  color: #49526D;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  margin-right: 4px;
}

.bodyHomeMovie_infor p {
  text-align: justify;
  color: #fff;
}

.bodyHomeMovie_infor button {
  width: 120px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.bodyHomeMovie_infor button i {
  margin-right: 8px;
}

.bodyHomeMovie_infor button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.bodyHomeMovie_infor .bodyHomeMovie_buy {
  background-color: #F5859D;
  color: #000;
}

.bodyHomeMovie_infor .bodyHomeMovie_more {
  background-color: #ECDEE3;
  color: #49526D;
}