.bodyHomeSuggestMovies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -60px;
}

.bodyHomeSuggest_wrap {
  overflow-x: hidden;
}

.bodyHomeSuggest_list {
  position: relative;
  margin: 0 -7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  transition: all ease 2s;
}

.bodyHomeSuggestMovies > i {
  font-size: 60px;
  color: #98D4DC;
  opacity: 0.25;
  margin: 0 15px;
}

.bodyHomeSuggestMovies > i:hover {
  cursor: pointer;
}