.hot-movies {
    margin-top: 90px;
}

.hot-movies-top {
    display: flex;
}

.hot-movies-top-img {
    font-size: 40px;
    margin-right: 12px;
}

.hot-movies-top-label {
    font-size: 20px;
    font-weight: bold;
    color: #F5859D;
}

.hot-movies-bottom {
    height: 125px;
    display: flex;
    justify-content: space-around;
}
