.news-container {
    width: 100%;
}

.news-trailer {
    
}

.news-wrapper {
    width: 1341px;
    margin: 0 auto;
    /* display: flex; */
}

.news-trending {

}

.news-ads-container {
    width: 100%;
}

.news-latest-container {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-latest-left {
    width: 60%;
}

.news-latest-left-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.news-latest-left-top-title {
    font-size: 30px;
    font-weight: bold;
    color: #C0556F;
}

.news-latest-left-top-all {
    display: flex;
    align-items: center;
}

.news-latest-left-top-all-title {
    font-size: 18px;
    font-style: italic;
    color: #67A3AA;
    padding-right: 5px;
}

.news-latest-left-top-all-icon {
    font-size: 14px;
    color: #67A3AA;
}

.news-latest-right {
    width: 30%;
}
