.theaterGroup1 {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  /* padding: 20px 15px; */
  background-color: #312C46;
  border-top-right-radius: 100px;
  margin-bottom: 100px;
}

.theaterGroup1 > img {
  /* position: absolute;
  top: 0;
  left: 0; */
  border-top-right-radius: 50px;
}

.theaterGroup1__infos {
  /* padding-left: 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.theaterGroup1__infos > h1 {
  width: 390px;
  height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(28, 30, 38, 0.9);
  line-height: 57px;
  text-align: center;
  background-color: #D68F95;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 40px;
}

.theaterGroup1__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0 20px;
}

.theaterGroup1__info > i {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 13px;
  font-size: 11px;
}

.theaterGroup1__address > i {
  background-color: #726A95;
}

.theaterGroup1__hotline > i {
  background-color: #C0556F;
}

.theaterGroup1__info > p {
  font-size: 20px;
  color: #fff;
  padding-left: 20px;
}

.theaterGroup1__link > img {
  width: 20px;
  object-fit: contain;
}